
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* .col-25 {
  -ms-flex: 25%; 
  flex: 20%;
}
.container2 {
  opacity: 0.5;
  

  z-index: 4;
  position: fixed;
  overflow-x:hidden;
  color: rgb(255, 73, 73);
  margin-top: 25px;
  margin-left: 500px;
  margin-right: 10px;
  height: auto;
  border: 3px solid #ff5252;
background-color:seashell;
padding: 5px 20px 15px 20px;

border-radius: 20px;
box-shadow: 15px 20px 22px rgba(0,0,0,0.5);
width: 50%;


position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 1.5s;
}

.container2:hover{
  height: 145px;
  width: 1200px;
} */



/* 
<!-- -------------------------------------TOTAL AMOUNT---------------------------------------------- --> */

.Total_01{
  
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.5);
  
    
    background-color: rgb(255, 92, 92);
    color: rgb(255, 255, 255);
    font-size:20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    padding-left: 10px;
    margin-top:20px;
    height: 50px;
    margin-right: 230px;
    margin-left: 230px;
    
  }
  
   /*---------------------------PAY NOW------------------------------ */
  
  .PAY_01 a {
    
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.5);
  
    
    background-color: rgb(255, 51, 51);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:30px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    padding-right: 10px;
    padding-left: 12px;
    margin-top:px;
    height: 50px;
    margin-right: 400px;
    margin-left: 600px;
   
  
  }
  
  
  
  
  
  
 
  
  /* 
  BODY SECTION */
  
  
  
   /* Place Order*/
  
   .h  a {
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    position: absolute;
    color: rgb(255, 70, 70);
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    width: 215px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.5);
    font-size: 33px;
    margin-left:-95px;
    
    padding-left: 3px;
    margin-top: 30px;
    transition: transform .2s;
  
    margin-bottom: 180px;
  }
  
  
  
  
   .h:link, .h:visited a {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(255, 121, 121);
    color: rgb(255, 83, 83);
    border-radius: 5px;
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    
    transition: transform .2s;
    
  }
  
  .h a:hover, .h:active a {
    color: #ff5252;
    text-decoration: none;
    background-color: rgb(255, 91, 91);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  
  
  .v{
    height: 1000px;
  text-align: center;
  }
  
  .gallery1{
    margin:10px 50px;
    display: inline-block;
    justify-content: center;
  }
  .galleryimg1{
    transition: 1s;
    padding:15px;
    width:200px;
    border-radius: 25px;
  }
  .galleryimg1:hover{
   filter:grayscale(100%);
   transform:scale(1.1);
  }
  
  
   .column {
    float: left;
    width: 25%;
    padding: 10px;
    }
    
    .column img {
    opacity: 75%; 
    cursor: pointer;
    border-radius: 10px; 
    transition: transform .2s;
    }
    
    .column img:hover {
    opacity: 100%;
    border-radius: 10px;
    border-color: #f44336;
    transform: scale(1.1);
   
    }
   
  
  
  
      
  
  
  .bdy{
      
      background-position: center;
      height: 1080px;
      margin-top: 25pxpx;
      
      background-size: cover;
       
        
      }
  
  /* BUTTON  */
  .con {
    margin-top: 15px;
    border: 2px solid blueviolet;
    border-radius: 30px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  }
  .like {
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .count {
    margin-top: 20px;
  }
  
  .dislike {
    margin-top: 20px;
  }
  
  
     
  .summary_01{
  
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    padding-left: 30px;
    margin-top:120px;
  }
  
  .summary_01 h1{
    text-transform:capitalize;
    font-size:36px;
    position:relative;
    display:inline-block;
    padding-bottom:10px;
  }
  
  .summary_01 h1:before{
    position:absolute;
    content:"";
    width:100px;
    height:2px;
    background-color:#ff5252;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
  }
  

  .summary_02{
  
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    padding-left: 30px;
    margin-top:120px;
  }
  
  .summary_02 h1{
    text-transform:capitalize;
    font-size:36px;
    position:relative;
    display:inline-block;
    padding-bottom:10px;
  }
  
  .summary_02 h1:before{
    position:absolute;
    content:"";
    width:100px;
    height:2px;
    background-color:#ff5252;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
  }

  button {
    background-color: white;
    border: none;
  }
  

  
  
  #marks{
      text-align:left;
      margin-left:100px;
  }
  
  .m
  {
    
    width:950px;
    height:100px;
    border-width:2px;
    border-bottom:3px solid black;
    border-radius:10px;
    text-align:left;
    display:block;
    padding:50px;
    margin:0px;
    color:rgb(31, 31, 31);
  }
  
  .icon{
      color: #000000;
      margin-top: 50px;
          font-size:50px;
          padding-top: 10px;
    text-align: center;
        }
  
  
   .m1
        {
          
          width:950px;
          height:100px;
          border-width:2px;
          border-bottom:3px solid black;
          border-radius:10px;
          text-align:left;
          display:inline-flex;
          padding:50px;
          margin:0px;
          color:rgb(31, 31, 31);
        }
        
   .icon1{
            color: #000000;
            margin-top: 50px;
                font-size:50px;
                padding-top: 10px;
          text-align: center;
              }  
   
  
  
   /* ------------------------------ */
  
  
    .Food-cart {
                font-family: 'Merriweather Sans', sans-serif;
                width: 900px;
                height: 460;
                margin: 80px auto;
                background: #ff5252;
                box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.10);
                border-radius: 6px;
                box-sizing: border-box;
                align-items: center;
                border-radius: 25px;
                box-shadow: 0 10px 12px rgba(0, 0, 0, 0.76);
                display: flex;
                flex-direction: column;
                
                
              }
  
  
  
  
  
  
   .title {
                height: 60px;
                border-bottom: 2px solid #E1E8EE;
                border-radius: 5px;
                padding: 20px 30px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
              }
               
              .item {
                padding: 20px 30px;
                height: 120px;
                display: flex;
              }
               
              /* .item:nth-child(4) {
                border-top:  1px solid #E1E8EE;
                border-bottom:  1px solid #E1E8EE;
              } */
            
   .item {
                align-items: left;
                padding: 20px 30px;
                height: 120px;
                display: flex;
                
                border-bottom:  1px solid #E1E8EE;
                
              }
               
   /* .item:nth-child(3) {
                border-top:  1px solid #E1E8EE;
                border-radius: 0px;
                border-bottom:  1px solid #E1E8EE;
              } */
  
              .buttons {
                position: relative;
                padding-top: 30px;
                margin-right: 60px;
              }
              .delete-btn,
              .like-btn {
                display: inline-block;
                Cursor: pointer;
              }
              .delete-btn {
                width: 18px;
                height: 17px;
                
              }
    
   .like-btn {
                position: absolute;
                top: 9px;
                left: 15px;
                width: 60px;
                height: 60px;
                background-size: 2900%;
                background-repeat: no-repeat;
              }
  
   .is-active {
                animation-name: animate;
                animation-duration: .8s;
                animation-iteration-count: 1;
                animation-timing-function: steps(28);
                animation-fill-mode: forwards;
              }
               
  .image img {
                margin-top: 10px;
                border-radius: 25px;
                width:100px;
                box-sizing: border-box;
                align-items: center;
                box-shadow: 0 10px 12px rgba(0,0,0,0.5);
            }
  
  .image img:hover{
              margin-top: 10px;
              border-radius: 25px;
              
              box-sizing: border-box;
              text-align: center;
              align-items: center;
              border-radius: 21px;
              box-shadow: 10 20px 22px rgba(0,0,0,0.5);
          }
  
   .image {
                margin-right: 50px;
                border-radius: 10px;
                
              }
               
            
  .description 
  {
                padding-top: 10px;
                margin-right: 60px;
                width: 115px;
              }
               
  .description span {
                align-items: left;
                display: block;
                font-size: 14px;
                color: #ffffff;
                font-weight: 400;
              }
   .description span:first-child {
                margin-bottom: 5px;
              }
              .description span:last-child {
                font-weight: 300;
                margin-top: 8px;
    }
  
              .quantity {
                padding-top: 20px;
                margin-right: 60px;
              }
   .quantity input {
                -webkit-appearance: none;
                border: none;
                text-align: center;
                width: 32px;
                font-size: 16px;
                color: #43484D;
                font-weight: 300;
              }
  
  
button[class*=btn] {
                width: 30px;
                height: 30px;
                background-color: #ffffff;
                border-radius: 6px;
                border: none;
                cursor: pointer;
              }
  
              button[class*=btn]:hover{
                width: 30px;
                height: 30px;
                background-color: #ff8888;
                border-radius: 6px;
                border: none;
                cursor: pointer;
              }
              .minus-btn img {
                margin-bottom: 3px;
              }
              .plus-btn img {
                margin-top: 2px;
              }
               
              button:focus,
              input:focus {
                outline:0;
              }
  
  
              .total-price {
                width: 83px;
                padding-top: 27px;
                text-align: center;
                font-size: 16px;
                color: #ffffff;
                font-weight: 300;
              }
              .total-price:hover {
                width: 83px;
                padding-top: 27px;
                text-align: center;
                font-size: 16px;
                color: #ffffff;
                font-weight: 300;
              }
  
  
           /* PROMO CODE   */





           .promo h6{
             align-items: center;
             margin-left: 130px;
             
           }
             .promo input[type=text] {
               position: relative;
               margin-left: 100px;
      	      
                width: 50%;
                
                
                margin-bottom: 20px;
                padding: 12px;
                border: 2px solid rgb(255, 120, 120);
                border-radius: 20px;
              }
              
              input.ng-touched.ng-invalid {
                  border: 3px solid red;
                }
                input.ng-touched.ng-valid {
                  border: 3px solid rgb(50, 255, 50);
                }
                .btn {
                  background-color: #ffffff;
                  color: rgb(255, 25, 25);
                  padding: 12px;
                  align-items: center;
                  margin-left: 20px;
                  border: 2px rgb(189, 0, 0) solid;
                  width: 30%;
                  border-radius: 20px;
                  cursor: pointer;
                  font-size: 17px;
                }
                
                
                
                
                .btn:hover {
                  background-color: #ff2c2c;
                  color: #ffffff;
                  border-color: bisque;
                  box-sizing: border-box;
                    
                    
                    border-radius: 20px;
                    box-shadow: 6px 20px 22px rgba(0, 0, 0, 0.5);
                }

              
   /*payment screen */
  
  
  
  
  
   
  .payment{
    margin-top: 5%;
    text-align: center;
    align-items: center;
    width: 100%;
   display:inline-block;
   
  }
  
  .paylist{
    align-items: center;
    margin-left: 25px;
    background-color: #ff2f2f;
  }
  
  
  
  
  
  /* media querry */
  
  
  
  @media (max-width: 700px) {
                .Food-cart {
                  width: 80%;
                  height: auto;
                  overflow: hidden;
                }
                .item {
                  height: auto;
                  flex-wrap: wrap;
                  justify-content: center;
                }
                .image img {
                  width: 50%;
                }
                .image,
                .quantity,
                .description {
                  width: 100%;
                  text-align: center;
                  margin: 6px 0;
                }
                .buttons {
                  margin-right: 20px;
                }
  
                .h  a {
                  text-decoration: none;
                  font-family: 'Merriweather Sans', sans-serif;
                  position: absolute;
                  color: rgb(255, 70, 70);
                  box-sizing: border-box;
                  align-items: center;
                  border-radius: 10px;
                  width: 150px;
                  box-shadow: 0 10px 12px rgba(0,0,0,0.5);
                  font-size: 23px;
                  margin-left:-55px;
                  margin-right: 160px;
                  margin-top: 20px;
                  margin-bottom: 180px;
                }
                
                
                
                
  .h:link, .h:visited a {
                  font-family: 'Merriweather Sans', sans-serif;
                  background-color: rgb(255, 121, 121);
                  color: rgb(255, 83, 83);
                  border-radius: 5px;
                  padding: 15px 25px;
                  text-align: left;
                  text-decoration: none;
                  display: inline-block;
                  
                }
                
   .h:hover, .h:active a {
                  color: #ff5252;
                  text-decoration: none;
                  background-color: rgb(255, 61, 61);
                  color: rgb(0, 0, 0);
                }
                
  
                .summary_02{
  
                  box-sizing: border-box;
                  text-align: center;
                  align-items: center;
                  font-family: 'Merriweather Sans', sans-serif;
                  position: relative;
                  padding-left: 30px;
                  margin-top:120px;
                }
                
                .summary_02 h1{
                  text-transform:capitalize;
                  font-size:36px;
                  position:relative;
                  display:inline-block;
                  padding-bottom:10px;
                }
                
                .summary_02 h1:before{
                  position:absolute;
                  content:"";
                  width:100px;
                  height:2px;
                  background-color:#ff5252;
                  bottom:0;
                  left:50%;
                  transform:translateX(-50%);
                }
  
   @media (max-width: 700px){



    .promo h6{
      align-items: center;
      margin-left: 20px;
      
    }
      .promo input[type=text] {
        position: relative;
        margin-left: 30px;
       
         width: 50%;
         
         
         margin-bottom: 20px;
         padding: 12px;
         border: 2px solid rgb(255, 120, 120);
         border-radius: 20px;
       }
    .PAY_01 a {
    
      box-sizing: border-box;
      text-align: center;
      align-items: center;
      border-radius: 30px;
      box-shadow: 0 10px 12px rgba(0,0,0,0.5);
    
      
      background-color: rgb(255, 51, 51);
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size:20px;
      font-family: 'Merriweather Sans', sans-serif;
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 50px;
      padding-left: 52px;
      margin-top:px;
      height: 100px;
      margin-right: 60px;
      margin-left: 180px;
    
    }
  
  .Total_01{
    
      box-sizing: border-box;
      text-align: center;
      align-items: center;
      border-radius: 30px;
      box-shadow: 0 10px 12px rgba(0,0,0,0.5);
    
      
      background-color: rgb(255, 92, 92);
      color: rgb(255, 255, 255);
      font-size:15px;
      font-family: 'Merriweather Sans', sans-serif;
      position: relative;
      padding-left: 10px;
      padding-top: 8px;
      margin-top:px;
      width: 60%;
      height: 50px;
      margin-right:200px;
      margin-left: 100px;
      
    }
    .summary_02{
  
      box-sizing: border-box;
      text-align: center;
      align-items: center;
      font-family: 'Merriweather Sans', sans-serif;
      position: relative;
      padding-left: 30px;
      margin-top:120px;
    }
    
    .summary_02 h1{
      text-transform:capitalize;
      font-size:36px;
      position:relative;
      display:inline-block;
      padding-bottom:10px;
    }
    
    .summary_02 h1:before{
      position:absolute;
      content:"";
      width:100px;
      height:2px;
      background-color:#ff5252;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
  
  
   }
}
     
  